# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/
env/

# Ignore log files
logs/
*.log

# Ignore spaCy model files
# These are large binary files that should not be in version control.
# They will be generated on-the-fly by the GitHub Action.
models/

# Ignore user-specific files
.DS_Store
*.swo
*.swp